ul {
  list-style-type: none;
}
External CSS */ body {
  font-size: 1em;
  color: #444; /* shade of black */
  font-family: Verdana;
}
a {
  color: #444;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: orange;
}
h2 {
  color: green;
}

header {
  background-color: #000; /* color black */
  padding: 3%;
}
header .layout {
  margin: 0;
  list-style: none;
}
header .layout li {
  display: inline;
  margin-right: 2em;
}
header .layout li:last-child {
  margin-right: 0;
}
header .layout li a {
  color: white;
}
header .layout li a:hover {
  color: yellow;
}

.game {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin: 2em;
}
.game .game-summary {
  width: 50%;
}
.product-cards .card h2 {
  color: purple;
}
.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
img {
  border-style: solid;
  padding: 1em;
}
.about {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}
.home {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  
}
.game-section {
  margin: 1em;
  
}
body {
  background-color: #eee;
}