.center {
  text-align: center;
  font-family: "Gowun Dodum", sans-serif;
}
/* on hold code 
#button1 {
  text-align: center;
  background-color: #87CEFA;
  color: white;
  border-style: 20px solid transparent;
  border-radius: 10px;
  weight: 100px;
  height: 50px;
  width: 200px;
  font-size: 14px;
  margin-left:200px;
}
#button2 {
  text-align: center;
  background-color: grey;
  color: white;
  border-style: 20px solid transparent;
  border-radius: 10px;
  weight: 100px;
  height: 50px;
  width: 200px;
  font-size: 14px;

}
*/
.button {
  text-align: center;
  color: white;
  font-family: "Gowun Dodum", sans-serif;
}
#button1 {
  background-color: #87CEFA;
  border: solid transparent;
  border-radius: 20px;
  padding: 10px;
}
#button2 {
  background-color: grey;
  border: solid transparent;
  border-radius: 20px;
  padding: 10px;
}
#droplink {
}
.box {
  display: block;
  border: 1px outset black;
  padding: 15px;
}
h2 {
  font-size: 30px;
}
h1,
h3 {
  font-family: "Georama", sans-serif;
}
.layout {
 border: solid;
padding: 5px;
 display: flex;
  justify-content: center;
}
