.center {
  text-align: center;
  font-family: "Gowun Dodum", sans-serif;
}
.button {
  text-align: center;
  color: white;
  font-family: "Gowun Dodum", sans-serif;
}
#button1 {
  background-color: #87CEFA;
  border: solid transparent;
  border-radius: 10px;
  padding: 10px;
}
#button2 {
  background-color: grey;
  border: solid transparent;
  border-radius: 10px;
  padding: 10px;
}
#droplink {
}
.box {
  display: block;
  border: 1px outset black;
  padding: 15px;
}
h2 {
  font-size: 2em;
}
h1,
h3 {
  font-family: "Georama", sans-serif;
}
/*.layout {
  display: flex;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: black;
  color: white;
    
 }*/
h3 {
  font-size: 2em;
  background-color: grey;
  display: block;
  border: 1px outset black;
  padding: 15px;
  color: white;
}

h1 {
  font-size: 3em;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}
