.center {
  text-align: center;
  font-family: "Georama", sans-serif;
}
#button1 {
  text-align: center;
  background-color: #87CEFA;
  color: white;
  border-style: 20px solid transparent;
  border-radius: 10px;
  weight: 100px;
  height: 50px;
  width: 200px;
  display: inline-block;
  font-size: 14px;
}
#button2 {
  text-align: center;
  background-color: grey;
  color: white;
  border-style: 20px solid transparent;
  border-radius: 10px;
  weight: 100px;
  height: 50px;
  width: 200px;
  display: inline-block;
  font-size: 14px;
}
